<h2>Show site walk</h2>

<ul>

  <li>
    <strong>Legend:</strong>
    <%= @site_walk.legend %>
  </li>

  <li>
    <strong>Style:</strong>
    <%= @site_walk.style %>
  </li>

</ul>

<%= link "Edit", to: site_walk_path(@conn, :edit, @site_walk) %>
<%= link "Back", to: site_walk_path(@conn, :index) %>
